* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: scroll;
   

}

.p {
    color: green;
    text-align: center;
    margin-top: 120px;
    padding-left: 40px;
    font-size: 37px;
    background-image: url("imgg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.search {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255,255,255,0);
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 70px;
    padding: 10px 20px;

}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder {
    color: #cac7ff;
}

.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
    
}

.c {
    padding-left: 40px;
}

body {
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.cover {
    width: 900px;
    height: 400px;
    margin-top: 50px;
    display: flex;
}


.box-1 {
    margin: 10px;
    width: 450px;
    height: 400px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
}

.box-2 {
    margin: 10px;
    width: 450px;
    height: 400px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s;

    
}

.box-3 {
    margin: 10px;
    width: 450px;
    height: 400px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s;

   
}



img {
    width: 450px;
    height: 400px;
    display: flex;
}

.box-1:hover {
  transform: scaleX(1.3);
}

.box-2:hover {
    transform: scaleX(1.3);
  }

  .box-3:hover {
    transform: scaleX(1.3);
  }

  .bar a {
    position: relative;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    /* margin-left: 40px; */
    margin-left: 30px;
    /* margin-bottom: 900px; */
    
}

.bar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.bar a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.bar .click{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #000;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #000;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.bar .click:hover {
    background: aqua;
    color: #162938;
}

.bar {
    margin-left: 850px;
   /* padding-right: 1000px; */
}

